body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .container {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: #4caf50;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
  }

  button:hover {
    background-color: #45a049;
  }

  #results {
    margin-top: 20px;
  }

  a {
    color: #4caf50;
    text-decoration: none;
    display: block;
    margin-top: 10px;
  }

  a:hover {
    text-decoration: underline;
  }

  .filters {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .filters input {
    max-width: 90%;
  }

  .filter-item {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  button.removeFilter , #addFilter{
    border-radius: 20px;
    width: 10px;
    height: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff000091;
}

#addFilter {
  background-color: green;
}

#progress-container {
  display:none;
  width: 100%;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  margin-top: 10px;
}
#progress-bar {
  width: 0;
  height: 10px;
  background-color: #4caf50;
  text-align: center;
  line-height: 20px;
  color: white;
}